<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.looseboxes.idisc.appbilling" >

    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <activity
            android:name=".InAppPurchaseActivity"
            android:label="@string/msg_activate"
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>
